[submodule "geoflow"]
	path = geoflow
	url = https://github.com/geoflow3d/geoflow.git
[submodule "plugins/gfp-gdal"]
	path = plugins/gfp-gdal
	url = https://github.com/geoflow3d/gfp-gdal.git
[submodule "plugins/gfp-las"]
	path = plugins/gfp-las
	url = https://github.com/geoflow3d/gfp-las.git
[submodule "plugins/gfp-val3dity"]
	path = plugins/gfp-val3dity
	url = https://github.com/geoflow3d/gfp-val3dity.git
[submodule "flowcharts/gfc-lod13"]
	path = flowcharts/gfc-lod13
	url = https://github.com/geoflow3d/gfc-lod13.git
[submodule "plugins/gfp-basic3d"]
	path = plugins/gfp-basic3d
	url = https://github.com/geoflow3d/gfp-basic3d.git
[submodule "plugins/gfp-building-reconstruction"]
	path = plugins/gfp-building-reconstruction
	url = https://github.com/geoflow3d/gfp-building-reconstruction.git
[submodule "buildtools/vcpkg"]
	path = buildtools/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "flowcharts/gfc-brecon"]
	path = flowcharts/gfc-brecon
	url = https://github.com/geoflow3d/gfc-brecon.git
